@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instagram</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <h1 style="
                        text-align: center;
                        padding-top: 65px;
                        font-weight: bold;
                        font-family: Arial">
                        Không thể đăng nhập bằng Instagram
                    </h1>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" width="390px">
                        <tr a>
                            <td align="center">
                                <h4 style="
                                    width: 378px;
                                    height: 35px;
                                    border: none !important ;
                                    color: grey !important; font-family:Arial">
                                    Vì mục đích bảo mật, hãy tiếp tục trên ứng dụng TikTok. Bạn
                                    chưa cài đặt? Hãy quét mã QR này để tải ứng dụng TikTok về.
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <img src="~/Content/image/maQR.png"
                                     alt="Thumbnail"
                                     width="80%"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="text-decoration: none !important">
                    <h4 style="font-family: Arial; color: grey">
                        Bạn không có tài khoản?
                        <a href="~/Views/Home/DangKy"
                           style="text-decoration: none; color: deeppink !important">Đăng ký</a>
                    </h4>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>