
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <h1 style="text-align: center; padding-top: 65px; font-weight: bold; font-family:Arial">Đăng nhập vào TikTok</h1>
                    <button type="button" class="btn-primary" onclick="location.href='QR'" style="width: 400px; height:55px !important; background-color: #ffffff !important">
                        <table align="center" style="width:390px">
                            <tr>
                                <td align="left" width="180px">
                                    <img src="~/Content/image/QR.png" alt="Thumbnail" width="16%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Sử dụng mã QR</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='SDT'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="130px">
                                    <img src="~/Content/image/user.png" alt="Thumbnail" width="20%" style="padding-left:7px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Số điện thoại / Email / TikTokID</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Facebook'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="160px">
                                    <img src="~/Content/image/Facebook.png" alt="Thumbnail" width="20%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với Facebook</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Google'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="170px">
                                    <img src="~/Content/image/GG.png" alt="Thumbnail" width="19%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với Google</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Twitter'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="172px">
                                    <img src="~/Content/image/Tw.png" alt="Thumbnail" width="19%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với Twitter</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Line'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="178px">
                                    <img src="~/Content/image/Line.png" alt="Thumbnail" width="18%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với LINE</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='KakaoTalk'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="153px">
                                    <img src="~/Content/image/Kakao.png" alt="Thumbnail" width="21%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với KaokaoTalk</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Apple'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="178px">
                                    <img src="~/Content/image/Apple.png" alt="Thumbnail" width="19%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với Apple</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn-primary" onclick="location.href='Instagram'" style="width: 400px; height: 55px !important; background-color: #ffffff !important">
                        <table align="left" width="390px">
                            <tr>
                                <td align="left" width="161px">
                                    <img src="~/Content/image/Ins.png" alt="Thumbnail" width="20%" style="padding-left:5px" />
                                </td>
                                <td>
                                    <h3 style="text-align: left; font-weight: bold; font-family:Arial">Tiếp tục với Instagram</h3>
                                </td>
                            </tr>
                        </table>
                    </button>
                </td>
            </tr>
            <tr>
                <td align="center" style="text-decoration:none !important">
                    <h4 style="font-family:Arial; color:grey">Bạn không có tài khoản? <a href="@Url.Action("DangKy","Home")" style="text-decoration:none; color:deeppink !important">Đăng ký</a></h4>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
